html
    head
        title Duet WebGL - AP
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes')
        script(src="bower_components/webcomponentsjs/webcomponents-lite.min.js")
        link(href="elements.html", rel="import")
        style(is="custom-style",include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning")
        link(rel="stylesheet",async,href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Poiret+One|Roboto")
        script(src="bower_components/phaser/build/phaser.min.js")
    body.fullbleed
        style
            :clean-css
                html,body,head {margin:0;padding:0;border:0;background: #1D1D1D;overflow:hidden}
                h1,h2,h3 {font-family: "Poiret One";font-weight:200}
                canvas {height:100%;width:100%}
        style(is="custom-style")
            :clean-css
                paper-toolbar {background-color: transparent;position:absolute;top:0;left:0;width:100%}
                paper-toolbar[nw] {top:2em}
                .scrubber {-webkit-app-region: drag;cursor: move}
                .scrubber {background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);-webkit-background-size: 3px 3px;-moz-background-size: 3px 3px;background-size: 3px 3px;}
                .nav-bar {background: rgba(255,255,255,.08);height: 2em;width: 100%;position:absolute;top:0;left:0;text-align:right}
                .nav-bar .btn {color:white;width: 4em;height:100%;text-align:center;display:inline-block;transition: background-color .25s}
                .nav-bar .btn > * {height:100%;padding: 6px}
                .nav-bar .close.btn:hover {background:#c62828}
                .nav-bar .min.btn:hover {background:rgba(255,255,255,.21)}
                .creator {position: absolute;bottom: 0;font-family: Poiret One;color: rgba(255, 255, 255, 0.11);font-size: .8em;right: 5px;transition: color .25s}
                .creator:hover {color: rgba(255, 255, 255, 0.41)}
                .creator a {text-decoration:none;color:inherit}
        template#app(is="dom-bind")
            audio(src="[[track]]",loop,autoplay)
            paper-toolbar(nw$="[[isNodeWebkit]]")
                h1 Duet
                .flex
                h3 Score: [[round(score)]]
            header.nav-bar.layout.horizontal(hidden$="[[!isNodeWebkit]]")
                .flex.scrubber
                .btn.min: paper-icon-button(icon="remove",on-tap="minimize")
                .btn.close: paper-icon-button(icon="close",on-tap="exit")
        footer.creator
            a.AP(href='http://linkedin.com/in/apoorvverma', target='_blank') Created by Apoorv Verma [AP]
        script
            :uglify-js:babel
                Array.prototype.make = function(s){return Array.apply(0, Array(s)).map((_,i) => i)}
                Number.prototype.rangeRandom = function(min,max){return Math.random() * (max - min) + min}
                String.prototype.titleCase = function(){
                    const str = this.toLowerCase().split(' ');
                    for (var i = 0; i < str.length; i++) {
                        str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1); 
                    }
                    return str.join(' ');
                }
                var t = document.querySelector("#app"), game,bs,wl;
                navigator.vibrate = navigator.vibrate || navigator.webkitVibrate || navigator.mozVibrate || navigator.msVibrate || (_ => {})
                t.vibrate = t => navigator.vibrate(t)
                t.isNodeWebkit = typeof require != "undefined"
                t.w_spin = [];t.sprinkleBack = []
                t.score = 0
                t.level = 1 //TODO: Reset this
                t.track = "public/theme.ogg"
                t.round = n => Math.round(n)
                t.minimize = _ => t.nw?t.nw.gui.Window.get().minimize():alert("No can do minimizing!")
                t.exit = _ => t.nw?t.nw.gui.App.quit():window.close()
                t.sleep = t => new Promise(res => setTimeout(res,t))
                t.distanceFormula = (a,b) => Math.sqrt(Math.pow(a.x-b.x,2)+Math.pow(a.y-b.y,2))
                if (t.isNodeWebkit) {
                    t.getLevel = l => require("../levels/"+l+".json")
                    t.nw = {gui: require('nw.gui')}
                } else {
                    t.getLevel = _ => {
                        if (_==1) {
                            return {
                                "walls": [
                                    {"type": "left"},
                                    {"type": "center"},
                                    {"type": "left"},
                                    {"type": "left"},
                                    {"type": "right"}
                                ],
                                "track": "/public/lv1.ogg"
                            }
                        } else if (_==2) {
                            return {
                                "walls": [
                                    {"type": "left"},
                                    {"type": "center"},
                                    {"type": "spin"},
                                    {"type": "center"},
                                    {"type": "spin", "dir": 1},
                                    {"type": "left"},
                                    {"type": "right"},
                                    {"type": "left"},
                                    {"type": "center"},
                                ],
                                "track": "/public/lv1.ogg"
                            }
                        } else if (_==3) {
                            return {
                                "walls": [
                                    {"type": "narrow"},
                                    {"type": "center"},
                                    {"type": "spin"},
                                    {"type": "spin", "dir": 1},
                                    {"type": "center"},
                                    {"type": "center"},
                                    {"type": "narrow"},
                                    {"type": "narrow"},
                                    {"type": "left"},
                                    {"type": "right"}
                                ],
                                "track": "/public/lv1.ogg"
                            }
                        } else {
                            return {
                                "walls": [
                                    {"type": "narrow"},
                                    {"type": "center"},
                                    {"type": "spin", "dir": 1},
                                    {"type": "spin"},
                                    {"type": "spin"},
                                    {"type": "spin", "dir": 1},
                                    {"type": "spin", "dir": 1},
                                    {"type": "spin"},
                                    {"type": "narrow"},
                                    {"type": "right"}
                                ],
                                "track": "/public/lv2.ogg"
                            }
                        }
                    }
                }
                t.setScore = s => {
                    clearInterval(t.curInt)
                    const seg = {in: (s - t.score)/30, f: s}
                    const neg = seg.in<0
                    t.curInt = setInterval(_ => {t.score=t.score+seg.in;if (neg?t.score <= seg.f:t.score >= seg.f){t.score=seg.f;clearInterval(t.curInt)}},30)
                }
                t.gameSetup = function(game){}
                t.gameSetup.prototype = {
                    preload: function(){
                        const H_OFFSET = game.height*.875, W_OFFSET = game.world.centerX, PAD = 150, BALL_RAD = .22
                        //game.stage.backgroundColor = 'rgba(0,0,0,.9)'
                        const MakeRect = (w,h) => {
                            var drawnObject;
                            var bmd = game.add.bitmapData(w, h);
                            bmd.ctx.beginPath();
                            bmd.ctx.rect(0, 0, w, h);
                            bmd.ctx.fillStyle = '#ffffff';
                            bmd.ctx.closePath();
                            bmd.ctx.fill();return bmd
                        }
                        const MakeCircle = (color,sz) => {
                            sz = sz || 10
                            const bmd = game.add.bitmapData(sz*2, sz*2); // Draw circle 
                            bmd.ctx.fillStyle = color;
                            bmd.ctx.beginPath();
                            bmd.ctx.arc(sz, sz, sz, 0, Math.PI * 2, false);
                            bmd.ctx.closePath();
                            bmd.ctx.fill();return bmd
                        }
                        //=Circle=======================|
                        var graphics = game.add.graphics(W_OFFSET, H_OFFSET);
                        graphics.lineStyle(1, 0x868686);
                        graphics.alpha = .5;
                        this.disk = graphics.arc(0,0, W_OFFSET*BALL_RAD, 0, Math.PI*2, false);
                        //=Export=======================|
                        this.config = {
                            moved: 0,
                            SpinFunc: (d,x,it) => ((d||-1)*game.speed*.98*(x-it) + 90)%360,
                            ball_velocity: 332.7484130859375/100,
                            WALL_H: 30,
                            PAD: {basic: PAD, spin: 1.3*PAD},
                            W_OFFSET: W_OFFSET,
                            H_OFFSET: H_OFFSET,
                            BALL_RAD: BALL_RAD,
                            MakeRect: MakeRect,
                            MakeCircle: MakeCircle,
                        }
                    },
                    keyBindings: function(){
                        this.cursors = game.input.keyboard.createCursorKeys();
                        const kb=Phaser.Keyboard;
                        var left = game.input.keyboard.addKey(kb.LEFT)
                        var right = game.input.keyboard.addKey(kb.RIGHT)
                        game.input.keyboard.addKey(kb.r).onDown.add(this.resetGame, this)
                        left.onDown.add(this.spinLeft, this)
                        right.onDown.add(this.spinRight, this)
                        left.onUp.add(this.spinLeftDone, this)
                        right.onUp.add(this.spinRightDone, this)
                    },
                    spinLeft: function(){bs.lPressed = !!(bs.rotate = 'left')},
                    spinRight: function(){bs.rPressed = !!(bs.rotate = 'right')},
                    spinRightDone: function(){bs.rPressed = false;bs.rotate = bs.lPressed && 'left'},
                    spinLeftDone: function(){bs.lPressed = false;bs.rotate = bs.rPressed && 'right'},
                    create: function(){
                        t.gameSleep = t => new Promise(res => game.time.events.add(t, _ => res(this), this))
                        //=VIEW=============================================================|
                        game.scale.pageAlignHorizontally = game.scale.pageAlignVertically = true;
                        game.scale.scaleMode = Phaser.ScaleManager.SHOW_ALL;
                        game.speed = 4
                        //=KEY/INIT=========================================================|
                        this.keyBindings()
                        const ph = game.physics
                        ph.startSystem(Phaser.Physics.P2JS)
                        ph.p2.setImpactEvents(true);ph.p2.restitution = 0.8
                        this.BallCG = ph.p2.createCollisionGroup();this.WallCG = ph.p2.createCollisionGroup();
                        //ph.p2.updateBoundsCollisionGroup(); //Causes mayhem
                        //=MAKE=============================================================|
                        const c = this.config;
                        this.balls = bs = game.add.group();
                        this.walls = wl = game.add.group();
                        this.particlesGroup = game.add.group();
                        //====Physics=======================|
                        ([wl,bs,this.particlesGroup]).forEach(gr => {gr.enableBody = true;gr.physicsBodyType = Phaser.Physics.P2JS})
                        //====Sprites=======================|
                        this.ballX = bs.create(c.W_OFFSET*(1-c.BALL_RAD), c.H_OFFSET, c.MakeCircle('#FF0000',11));
                        this.ballY = bs.create(c.W_OFFSET*(1+c.BALL_RAD), c.H_OFFSET, c.MakeCircle('#2196F3',11));
                        this.ballX.tint = 0xFF0000;this.ballY.tint = 0x2196F3
                        this.makeWalls(t.getLevel(t.level),this);
                        //=ANIMATE==========================================================|
                        const ANIM_ARGS = delay => [250, Phaser.Easing.Linear.None, true, 0, delay, true]
                        wl.children.forEach((ch,i) => game.add.tween(ch.scale).to({
                            x: 1.05, y: 1.15
                        }, ...ANIM_ARGS(250*(i+1))));
                        //game.add.tween(wl.position).to({
                        //    x: -100, y: -200
                        //}, ...ANIM_ARGS);
                        //if (t.w_spin.length) {
                        //    t.w_spin.forEach(w => {const d=w[0],e=w[1];game.add.tween(e).to({
                        //        angle: (d?'+':'-')+'360'
                        //    }, 8000, Phaser.Easing.Linear.None, true, 0, 1000, false)})
                        //}
                        //=PHYSICS/COLLIDE==========================================================|
                        //game.physics.enable(wl, Phaser.Physics.P2);
                        //game.physics.enable(bs, Phaser.Physics.P2);
                        [this.ballX,this.ballY].forEach(b => {
                            b.body.setCircle(b.width/2)
                            b.body.fixedRotation = true
                            b.body.setCollisionGroup(this.BallCG)
                            b.body.collides([this.WallCG,this.BallCG])
                            b.anchor.set(.5,.5);b.body.kinematic=true
                            b.body.createGroupCallback(this.WallCG,this.ballSplat,this)
                        })
                        app.c = this
                        t.wlPos = wl.children.map(w => ({x: w.position.x,y:w.position.y,deg:w.body.angle}))
                        //wl.children.forEach(w => {const b = w.body;b.velocity.y = 0})
                        wl.setAll("body.velocity.y",0)
                        game.camera.follow(this.center)
                    },
                    makeWalls: function(d,cg) {
                        //=MAKE=WALLS================================================|
                        const c = this.config, W_W = c.W_OFFSET*1.05, rad = 22;
                        t.track = d.track
                        var pad = 0;
                        const mk_sprite = (gr,ty,i) => {
                            const w_sprite = (w,h) => c.MakeRect(w,h)
                            const w_x = (t,w) => ({left: 0+w/2, right: game.width-w/2, center: c.W_OFFSET, spin: c.W_OFFSET, narrow: 0+w/2}[t])
                            const tra = {left: [W_W,c.WALL_H],right: [W_W,c.WALL_H],center: [c.W_OFFSET*.15,c.W_OFFSET*.15],spin: [c.W_OFFSET*.45,c.WALL_H],narrow: [c.W_OFFSET-3*rad,c.WALL_H]}
                            const conf = tra[ty], h_off = c.H_OFFSET/4
                            if (!conf) {return}
                            const w = conf[0], h = conf[1]
                            const sprite = w_sprite(w,h)
                            ty=="spin" && (pad+=c.PAD.spin-c.PAD.basic)
                            const ob = gr.create(w_x(ty,w),h_off-pad, sprite)
                            ob.body.setRectangle(w,h)
                            const obj = [ob]
                            if (ty == "narrow") {
                                const sprite2 = w_sprite(w,h)
                                const ob = gr.create(w_x("right",w),h_off-pad, sprite)
                                ob.body.setRectangle(w,h)
                                obj.push(ob)
                            }
                            pad += c.PAD[ty=="spin"?ty:"basic"]
                            return obj
                        }
                        d.walls.forEach((w,i) => {
                            const W = mk_sprite(wl,w.type,i);if (!W) {return}
                            W.forEach(wl => {
                                wl.body.setCollisionGroup(cg.WallCG)
                                //W.body.kinematic=true // MAKES PASS_THRU
                                wl.body.collides([cg.WallCG,cg.BallCG])
                                if (w.type == "spin") {
                                    const iterations = (c.H_OFFSET - (wl.position.y+wl.width/2))/c.ball_velocity
                                    //console.log("Wall",i,"@",iterations,"iters")
                                    wl.body.angle = c.SpinFunc(0,iterations);
                                    t.w_spin.push([{dir: w.dir, iters: iterations},wl])
                                }
                            })
                        })
                    },
                    update: function(){
                        const c = this.config, pnt = game.input.activePointer;
                        const iter = c.moved/200
                        game.complete || wl.children.forEach(b => b.body.moveDown(200))
                        game.complete || (c.moved+=200)
                        //console.log(c.moved/200)
                        //=SPEED+CHECK===============================|
                        //if (!(iter%100)) {
                        //    const y = wl.children[0].position.y // = 332.7484130859375 @ 100iters
                        //    c.prev && console.log(y-c.prev)     // f(x = wl.pos.y) = 90deg
                        //    c.prev = y
                        //}
                        //=CHECKS====================================|
                        if (pnt.isDown) {
                            c.cursor = true
                            bs.rotate = pnt.positionDown.x < c.W_OFFSET?"left":"right"
                        } else if (c.cursor) {
                            c.cursor = false;bs.rotate = ""
                        }
                        //=MOVEMENT==================================|
                        t.sprinkleBack.forEach((f,i) => {
                            if (f()) {delete t.sprinkleBack[i]}
                        })
                        t.sprinkleBack = t.sprinkleBack.filter(i=>i)
                        if (!game.complete && bs.rotate) {this.rotateBalls()}
                        if (t.w_spin.length) {
                            t.w_spin.forEach(w => {
                                //if (iter == 279) {throw "ah"}
                                w[1].body.fixedRotation = false;
                                w[1].body.angle = c.SpinFunc(w[0].dir,iter,w[0].iters)
                            })
                        }
                        //=COMPLETED==================================|
                        if (wl.children.slice(-1)[0].position.y > c.H_OFFSET+200 && !game.complete) {
                            game.complete = true
                            const tex = game.add.text(0, 0, "You have completed the Level", {font: "40px 'Poiret One'", fill: "#FFFFFF", align: "center"});
                            tex.position.set(Math.floor(c.W_OFFSET - tex.width/2),Math.floor(game.height/2-tex.height/2))
                            t.setScore(t.score+50)
                            t.gameSleep(1500).then(_ => this.LevelUp(this))
                        }
                    },
                    rotateBalls: function(){
                        const c = this.config
                        bs.children.forEach(ch => {
                            var ang = this.ballX.body.angle+game.speed*(bs.rotate=="right"?1:bs.rotate=="left"?-1:0)
                            const rad = c.W_OFFSET*c.BALL_RAD,b = ch.body,tR=Math.PI/180, isY = ch==this.ballY
                            const I = isY?-1:1
                            ch.body.angle = ang+(isY?180:0)
                            b.x = c.W_OFFSET-rad*Math.cos(ang*tR)*I
                            b.y = c.H_OFFSET-rad*Math.sin(ang*tR)*I
                        })
                    },
                    resetGame: function(){game.state.start("PlayGame",true,true)},
                    resetAlignment: function(me){
                        return new Promise(res => {
                            t.sprinkleBack.push(_ => {
                                const ball = me.ballX
                                if (Math.abs(ball.body.angle%360) < 10) {bs.rotate="";ball.body.angle=0;this.rotateBalls();res();return true}
                                bs.rotate="left";this.rotateBalls()
                            })
                        })
                    },
                    resetWalls: function(me){
                        const c = me.config, total = c.moved;
                        const kin = bool => wl.children.forEach(ch => {
                            const b = ch.body
                            b.setZeroVelocity();b.angularVelocity=0
                            b.kinematic = bool
                            b.fixedRotation = bool
                            b.angle=0
                        })
                        return new Promise(res => {
                            kin(true)
                            t.sprinkleBack.push(_ => {
                                if (!c.moved) {res();kin(false);return true}
                                const speed = c.moved < 100?c.moved:Math.max(Math.pow(c.moved,.7),200)
                                c.moved-=speed
                                wl.children.forEach(b => {
                                    b.body.moveUp(speed)
                                })
                            })
                        })
                    },
                    reviveBalls: function(){
                        const me = this, pr = [], revive = this.sprinkleRevive.bind(this), c = me.config;
                        return new Promise(res => {
                            me.ballX.alive || pr.push(revive(me.ballX,{x: c.W_OFFSET*(1-c.BALL_RAD), y:c.H_OFFSET}))
                            me.ballY.alive || pr.push(revive(me.ballY,{x: c.W_OFFSET*(1+c.BALL_RAD), y:c.H_OFFSET}))
                            Promise.all(pr).then(res)
                        })
                    },
                    LevelUp: function(me){
                        const c = me.config;
                        this.resetAlignment(me).then(this.reviveBalls.bind(this)).then(_ => {
                            t.level++
                            t.w_spin = []
                            game.complete = false
                            this.resetGame.bind(this)()
                        })
                    },
                    ballSplat: function(x,y){
                        const me = this
                        this.sprinkleDeath(x.sprite)
                        t.vibrate([25,25,25])
                        y.sprite.tint = x.sprite.tint
                        //const wall = {y: y.position.y+y.height/2, x: y.position.x+y.width/2}
                        game.complete = true
                        Promise.all([this.resetAlignment(me), this.resetWalls(me)]).then(this.reviveBalls.bind(this))
                        .then(_ => {
                            t.w_spin = []
                            game.complete = false
                            this.resetGame.bind(this)()
                        })
                    },
                    sprinkleRevive: function(x,p){
                        return new Promise(ress => {
                            const c = this.config,color = '#'+Phaser.Color.componentToHex(x.tint),prt = this.particlesGroup;
                            const pr = [];var lowest = [-999,0];
                            ([]).make(25).forEach(i => {
                                var ob = prt.getFirstExists(false) || prt.create(0, 0, c.MakeCircle(color,(0).rangeRandom(1,4)))
                                const b = ob.body, pos = {x:c.W_OFFSET+c.W_OFFSET*(0).rangeRandom(-.75, .75),y:(0).rangeRandom(-300,0)}
                                var l = false;
                                if (pos.y > lowest[0]) {lowest = [pos.y, i];l=true}
                                ob.reset(pos.x,pos.y)
                                ob.alpha = .8
                                ob.tint = x.tint
                                b.damping = 0.03
                                b.mass = .01
                                b.velocity.x = 0;b.velocity.y = 0
                                ob.anchor.set(.5,.5)
                                pr.push(new Promise(res => {
                                    const HandleTween = _ => {
                                        const cpos = ob.position
                                        const angle = Math.atan2(cpos.y - p.y, cpos.x - p.x);
                                        const yspeed = (l?75:0)+400*Math.sqrt(Math.sqrt((cpos.y - p.y)/(pos.y - p.y)));
                                        const xspeed = 400*Math.sqrt(Math.sqrt((cpos.x - p.x)/(pos.x - p.x)));
                                        const dist = t.distanceFormula(cpos,p);
                                        //console.log("Particle-"+i,"Distance:",((cpos.y - p.y)/(pos.y - p.y)),"|",dist)
                                        b.rotation = angle + game.math.degToRad(90);
                                        b.velocity.x = -Math.cos(angle) * xspeed;b.velocity.y = -Math.sin(angle) * yspeed
                                        if (isNaN(dist) || dist < 1) {/*console.info("Particle-"+i,"DONE!");*/b.velocity.x=b.velocity.y=0;ob.kill();res();return true}
                                    }
                                    t.sprinkleBack.push(HandleTween)
                                }))
                                //game.add.tween(ob.position).to({
                                //    x: p.x, y: p.y
                                //}, 2000, Phaser.Easing.Linear.None, true, 0, 0, true)
                            })
                            pr[lowest[1]].then(_ => {
                                x.reset(p.x,p.y)
                                x.scale.set(.1,.1)
                                game.add.tween(x.scale).from({x: .1, y: .1}).to({
                                    x: 1, y: 1
                                }, 500, Phaser.Easing.Linear.None, true, 0, 1, false);
                            })
                            Promise.all(pr).then(_ => console.info("Promise fulfilled",x==this.ballX?"X":"Y")).then(ress)
                        })
                    },
                    sprinkleDeath: function(x){
                        const c = this.config, p = x.position,color = '#'+Phaser.Color.componentToHex(x.tint),prt = this.particlesGroup;
                        ([]).make(50).forEach(i => {
                            var ob = prt.getFirstExists(false) || prt.create(0, 0, c.MakeCircle(color,(0).rangeRandom(1,4)))
                            const b = ob.body;
                            ob.reset(p.x,p.y)
                            ob.tint = x.tint
                            b.velocity.x = (0).rangeRandom(-100, 100)
                            b.force.y = 100+(0).rangeRandom(-10, 150)
                            b.mass = .01
                            b.fixedRotation = true
                            b.collideWorldBounds = false
                            ob.anchor.set(.5,.5)
                            ob.lifespan = 3000
                            ob.alpha = .8
                        })
                        x.kill()
                    },
                    //render: function(){[this.particlesGroup,wl,bs].forEach(c => c.children.forEach(ch => ch.body.debug=true))}
                }
                window.onload = function() {
                    game = t.g = new Phaser.Game(640, 960, Phaser.AUTO, "", undefined, true);
                    game.state.add("PlayGame", t.gameSetup);
                    game.state.start("PlayGame");
                }